{% apply inline_css %}

<style>
    h3{
        color: #12b33d;
    }
</style>

<h1>Hello Waiter</h1>

<h3>
    The Table {{table}} has send the following email
</h3>

<h1>
    {{text}}
</h1>

{% endapply %}